<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>


  <link rel="stylesheet" href="/css/bootstrap.min.css">




<!-- Grab jQuery from a CDN, fall back to local if necessary -->

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
/* ]]> */</script>

<script src="/js/bootstrap.min.js"></script>




</head>
<body>

<% INCLUDE 'layouts/_navbar.tt' %>
<% content %>
<% INCLUDE 'layouts/_footer.tt' %>

</body>
</html>
